# Editor
.vscode

# Binaries:
bin/*.*
bin/*

# Keep SDL binary for macOS:
!bin/mac-arm64/sdl2-config

# Keep Windows related files:
!bin/win64/SDL2.dll
!bin/win64/SDL2_image.dll

# Target files:
mac-arm64_mac_arm64
/mac-arm64_mac_arm64.dSYM